/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.c-pointer {
  cursor: pointer;
}

.d_flex {
  display: flex;
}

